body {
    background-color: #f4f4f4f4;
    color: #555555;

    font-family: Arial, Helvetica, Sans-serif;
    font-size: 16px;
    font-weight: normal;
    
    font:normal 16px Arial,helvetica，Sans-serif；
}

button {
    background-color: #444444;
    color: #fff;
    padding: 10px 15px;
}

button:hover {
    background-color: red;
}

button:active {
    background-color:#fff;
}

a {
    text-decoration: none;
    color: #444444;
}

a:hover{
    color: cyan;
}

.box1 {
    background-color: antiquewhite;
    color: royalblue;
    border: 5px blue solid;
    border-right: 5px red solid;
    border-left: 8px blue solid;
    border-top: 10px green dotted;
    border-bottom: 1px firebrick double;

    border-bottom-width: 8px;
    border-bottom-style: dashed;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10ox;
    padding-right: 10px;

    margin-top: 20px;

}

.box1 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1em;
    word-spacing: 2em;

    text-align: center;

}

.box2 {
    border: 5px dotted #cccccc;
    border-radius: 35px;
    padding: 20px;
    margin: 20px 0px;
}

.box2 h1 {
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.list li {
    list-style: square;
    list-style-image: url(/CSS/#444444);
}

.black {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    box-sizing:border-box;
}
.outer {
    display: flex;
}
.inner::after {
    display: block;
    content: '';
    padding-bottom: 100%;
}
.inner {
    flex: 1;
}
.inner:nth-child(1) {
    background: red;
    margin-right: 20px;
}
.inner:nth-child(2) {
    background: rgb(0, 128, 255);
    margin-right: 20px;
}
.inner:nth-child(3) {
    background: green;
    margin-right: 20px;
}
#main-black {
    float: left;
    width: 70%;
}

#siderbar{
    float: right;
    
}